<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tripin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FindActivities" android:label="Rechercher des activités"></activity>
        <activity android:name=".FindHotel" android:label="Rechercher des hôtels" />
        <activity android:name=".FindFlight"  android:label="Rechercher des vols"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SlashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailVoyage"
            android:label="Detail" />
        <activity android:name=".AddVoyage" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".RegistrationActivity" android:label="Registration"/>
        <activity android:name=".LoginActivity" android:label="Login"/>

    </application>

</manifest>