<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.ClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tripin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".find.activity.FindActivitesActivity" android:label="Rechercher des activites"></activity>
        <activity android:name=".find.hotel.FindHotelActivity" android:label="Recherche d'hôtels"/>
        <activity android:name=".find.flight.FindFlightActivity" android:label="Rechercher des vols"/>
        <activity android:name=".DetailsHotel" android:label="Détail d'un hôtel"></activity>
        <activity android:name=".StarsActivity"></activity>
        <activity android:name=".SharingActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".ContactActivity" />
        <activity
            android:name=".find.activity.DetailActivites"
            android:label="Detail activité" />
        <activity
            android:name=".find.flight.DetailFlights"
            android:label="Détail du vol" />
        <activity android:name=".saved.SavedActivites" android:label="Activités sauvegardées"/>
        <activity android:name=".saved.SavedHotel" android:label="Hotels sauvegardés"/>
        <activity android:name=".saved.SavedFlight" android:label="Vols sauvegardés" />

        <activity
            android:name=".saved.SplashActivity"
            android:theme="@style/SlashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".trip.DetailVoyage"
            android:label="Detail" />
        <activity
            android:name=".trip.AddVoyage"
            android:label="Ajouter un voyage" />
        <activity
            android:name=".EditVoyage"
            android:label="Modifier le voyage" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".profil.LoginActivity"
            android:label="Se connecter" />
        <activity
            android:name=".profil.RegistrationActivity"
            android:label="S&apos;inscrire">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profil.LoginActivity" />
        </activity>
    </application>

</manifest>